$alert-info-color: lighten($beware-orange, 10%);

// alert message under navbar
// reviews alert on summary page
.alert {
    @extend %section;
    @extend %borderless;
    @extend %no-background-image;

    margin: {
        left: auto;
        right: auto;
    }

    max-width: 92vw;

    h3, a, p, span, i, time {
        color: inherit !important;
    }
}

.alert-info {
    background-color: $alert-info-color !important;
    color: $inverted-text-color !important;
}

// alert message on top of dashboard (below search bar)
.system-alert,
.alert-where-user-scripts-cant-ignore {
    @extend %section;
    @extend %no-background-image;

    background-color: $alert-info-color !important;
    color: $inverted-text-color !important;

    h2, h3, i, p, time {
        color: inherit !important;
    }

    h2, h3 {
        border-bottom: 1px solid $separator-color !important;
    }
}

.reviews-alert {
    // arrow below review alert
    &::before {
        background-color: $alert-info-color !important;
        bottom: 17px !important;
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%) !important;
        z-index: 3 !important;
    }
}
