.navbar-inner {
    @extend %borderless;
    @include sheet(1030, $navbar-color);
}

// the navigation bar seems to have been entirely replaced
// now known as the "global header"
.global-header {
    @extend %borderless;

    background: none;
    background-color: $navbar-color;
    box-shadow: $shadow-v;

    .logo {
        filter: brightness(80%) hue-rotate(226deg);
    }
}

.navigation {
    &__toggle[data-expanded="true"] {
        background-color: transparent;
    }
}

.navigation-shortcut {
    a {
        color: $text-color;

        span {
            background: transparent;
            color: $sunbeam-yellow;
        }
    }

    &[data-count="0"] span {
        background: transparent;
        color: $text-color;
    }
}

.sitemap {
    background: $navbar-color;

    &--divider {
        border-top-color: $separator-color;
    }

    &__grouped-pages, &__pages {
        background: $navbar-color;
    }

    &__expandable-chunk {
        background: transparent;
    }

    &__page a {
        color: $text-color !important;
    }
}
